/*CSS reset settings here*/
*{
    margin: 10px;
    padding: 10px;
   }
.container{
    margin: 0px auto;
    display: inline-block;
}
.header {
    background-color: green;
}
.main_content {
    background-color: red;
    display: inline-block;
    vertical-align: top;
}
.subcontents {
    background-color: yellow;
    display: inline-block;
}
.advertisement {
    background-color: purple;
}
@media only screen and (max-width: 480px) {
    .container{
        display: inline-block;
    }
    .header {
        min-height: 150px;
        width: 450px;
    }
    .main_content {
        min-height: 400px;
        width: 450px;
    }
    .subcontents {
        min-height: 200px;
        width: 410px;
    }
    .advertisement {
        min-height: 120px;
        width: 410px;
    }
}
@media only screen and (min-width: 481px){
    .container{
        width: 1023px;
        margin: 0px auto;
        display: inline-block;
    }
    .header {
        min-height: 150px;
        width: 700px;
    }
    .main_content {
        min-height: 400px;
        width: 700px;
    }
    .subcontents {
        min-height: 200px;
        width: 305px;
    }
    .advertisement {
        min-height: 120px;
        width: 655px;
    }
}

@media only screen and (min-width: 1024px) {
    .container{
        width: 1055px;
        margin: 0px auto;
        display: inline-block;
    }
    .header {
        min-height: 150px;
        background-color: green;
        width: 1015px;
       }
    .navigation {
        min-height: 300px;
        width: 190px;
        background-color: blue;
        margin: 10px;
        display: inline-block;
    }
    .main_content {
        min-height: 400px;
        width: 780px;
        background-color: red;
        display: inline-block;
        vertical-align: top;
    }
    .subcontents {
        min-height: 200px;
        width: 210px;
        background-color: yellow;
        display: inline-block;
    }
    .advertisement {
        min-height: 120px;
        width: 720px;
        background-color: purple;
    }
}